/* Style the Body */
body {
   font-family: Garamond, sans-serif;
   background-color:#f2f2f2; 
   color:#333;
   font-size: 20px;
}
/* Style the heading */
h1 {
    text-align: center;
    color:#333;
    font-size: 50px;
}

/* Style Images*/

img {
    height: auto;
    width: 500px;
}